* {
    margin: 0;
    padding: 0;
}

p {
  font-size: 10px;
}

h5 {
  font-size: 15px
}

html, body {
  background-color: #DDDED9;
}

.main {
  background: linear-gradient(#DDDED9, #E7E7E7);
}

.gallery {
    font-family: "Noto Serif", serif;
    font-weight: 100;
}

.marker {
  font-family: 'Permanent Marker', cursive;
}

.bg-1e {
  background-color: #1e1e1e;
}

.bg-f5 {
  background-color: #f5f5f5;
}

.hex-f5 {
  color: #f5f5f5;
}

.customPaddingTop {
  padding-top: 200px;
}

.frameborder {
    padding: 2vw;
    border-style: solid;
    border-width: 2vw;
    border-top-color: #000;
    border-right-color: #222;
    border-left-color: #222;
    border-bottom-color: #333;
    background-color: #FFF;
    width: 100%;
    aspect-ratio: 750 / 500;
}

.dcard {
  width: 100px;
  text-align: justify;
  white-space: normal;
  padding: 10px;
  margin: auto;
}

.heavyshawdow {
  box-shadow: 0px 20px 20px 0 rgba(0,0,0,0.5);
}

.lightshadow {
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.5);
}

.art {
  /* height: 400px;
  width: calc(400px * 0.774); */
  /* height: calc(100% / 0.774); */
  aspect-ratio: 0.774 / 1;
  width: 100%;
  position: relative;
}
  
.pholder {
  height: 70%;
  width: 63%;
  top: 15.4%;
  left: 18.9%;
  position: absolute;
}

.frame {
  background: url('../images/frame.png');
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.ape {
  background: url('../images/ape.png');
}

.punk {
  background: url('../images/cp.png');
  image-rendering: pixelated;
}

#painting {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

#original {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
}

.shred {
  background-size: cover;
  background-position: top center;
}

.shredded {
  bottom: 0;
  display: grid;
  position: absolute;
  grid-column-gap: 3px;
  grid-template-columns: repeat(11, 1fr);
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .dcard {
    width: 75%;
    padding: 5px;
  }

  p {
    font-size: 4px;
  }

  h6 {
    font-size: 5px;
  }

  h5 {
    font-size: 10px !important;
  }
}

@media only screen and (max-height: 800px) {
  .customPaddingTop {
    padding-top: 0px !important;
  }
}

@media only screen and (max-height: 1000px) {
  .customPaddingTop {
    padding-top: 100px;
  }
}