* {
    margin: 0;
    padding: 0;
}

html, body {
  background-color: #DDDED9;
}

.main {
  background: linear-gradient(#DDDED9, #E7E7E7);
}

.scrolling-wrapper{
	overflow-x: auto;
  white-space: nowrap;
  width: 100%;
}

.nomargin {
    margin: 0px;
}

.spacerXL {
    height: 150px;
    width: 100px;
    display: inline-block;
}

.begSpace {
  height: 150px;
  min-width: 50px;
  width: calc(0.50 * (100vw - 950px - (2 * 300px * 0.774) - 24px));
  display: inline-block;
}

.gallery {
    font-family: "Noto Serif", serif;
    font-weight: 100;
}

.marker {
  font-family: 'Permanent Marker', cursive;
    font-size: 10px;
}

.frameborder {
    padding: 50px;
    border-style: solid;
    border-width: 50px;
    border-top-color: #000;
    border-right-color: #222;
    border-left-color: #222;
    border-bottom-color: #333;
    background-color: #FFF;
    height: 500px;
    width: 750px;
}

.block{
  display: inline-block;
  vertical-align: top;
}

.dcard {
  width: 120px;
  font-size: 7px;
  text-align: justify;
  white-space: normal;
  background-color: #1E1E1E;
  color: white;
  padding: 15px;
  margin: auto;
  margin: 40px auto;
}

.heavyshawdow {
  box-shadow: 0px 20px 20px 0 rgba(0,0,0,0.5);
}

.lightshadow {
  box-shadow: 0px 5px 5px 0 rgba(0,0,0,0.5);
}

.lightestshadow {
  box-shadow: 0px 2px 2px 0 rgba(0,0,0,0.25);
}

.art {
  height: 300px;
  width: calc(300px * 0.774);
  position: relative;
}
  
.pholder {
  height: 70%;
  width: 63%;
  top: 15.4%;
  left: 18.9%;
  position: absolute;
}

.frame {
  background: url('../images/frame.png');
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.ape {
  background: url('../images/ape.png');
}

.punk {
  background: url('../images/cp.png');
  image-rendering: pixelated;
}

.customPText {
  position: absolute;
  width: 120px;
  white-space: normal;
  margin: auto;
  left: 14px;
  top: 100px;
  text-align: center;
}

#painting {
  height: 100%;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

#original {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  background-size: cover;
}

.shred {
  background-size: cover;
  background-position: top center;
}

.shredded {
  bottom: 0;
  display: grid;
  position: absolute;
  grid-column-gap: 3px;
  grid-template-columns: repeat(11, 1fr);
  height: 100%;
  width: 100%;
}
